asgiref==3.2.3
beautifulsoup4==4.8.2
Django==3.0.3
django-bootstrap4==1.1.1
django-taggit==1.2.0
django-taggit-serializer==0.1.7
django-webpack-loader==0.6.0
djangorestframework==3.11.0
mysqlclient==1.4.6
python-decouple==3.3
pytz==2019.3
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
