{% extends 'knowledge/base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<br>
<br>

<div>

    {% for category in categories %}
        <br>
        <br>
        {{ category }}

        <div>
            
            {% for child in category.children.all %}
                
               - {{ child }}

            {% endfor %}

        </div>

    {% endfor %}

</div>
{% endblock content %}

