{% extends 'knowledge/base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>

    <div class="container">

        {% for category in categories %}
            <div class="row">

                <div class="col-md-2">
                    {{ category }}

                    {% if category.children.all %}
                        <ul>
                            {% for child in category.children.all %}

                                <li>
                                    {{ child }}
                                </li>

                            {% endfor %}

                        </ul>

                    {% endif %}

                </div>


            </div>

        {% endfor %}

    </div>
{% endblock content %}

